.profile__pen {
    background-image: url(../../../images/pen.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 10px;
    width: 10px;
}

@media screen and (max-width: 620px) {
    .profile__pen {
        height: 7.5px;
        width: 7.5px;
    }
}