.profile__plus {
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 22px;
    width: 22px;
}

@media screen and (max-width: 620px) {
    .profile__plus {
        height: 16px;
        width: 16px;
    }
}