.photo-grid__like {
    background-image: url(../../../images/like.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 19px;
    width: 22px;
}

.photo-grid__like:hover {
    opacity: 0.5;
}