.profile__info {
    margin-left: 3.75px;
    max-width: 336px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (max-width: 620px) {
    .profile__info {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}